.bloco-container{
    padding: 48px 16px 16px;
}
.page-header{
    padding: 48px 16px 16px;
    margin-left: 0;
    margin-right: 0;
}
.page-header.cenarios-de-pratica{
    background: url(../assets/cenarios-de-pratica-header-mobile.svg) center/contain no-repeat;
}
.page-header.comite-gestor{
    background: url(../assets/comite-gestor-header-mobile.svg) center/contain no-repeat;
}
.page-header.quem-somos{
    background: url(../assets/quem-somos-header-mobile.svg) center/contain no-repeat;
}
.page-header.disciplinas-integradoras{
    background: url(../assets/disciplinas-integradoras-header-mobile.svg) center/contain no-repeat;
}
.distrito.estagios-header{
    background: url(../assets/estagios-header.svg) center/contain no-repeat;
}
/* BODY */
body{
    font-family: Arial, sans-serif;
}
/* LINKS GERAIS */
    a:link, a:visited, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .dropdown-item, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link, .btn-leia, #btn-sobre, #btn-historic{
        color: #4DBA80;
        text-decoration: none;
    }
/* LISTAS */
/* ul{
    margin: 0;
} */
/* BOTÕES */
    .btn-leia{
        cursor: pointer;
    }
    #btn-seminario{
        color: #DCFFEC;
    }
/* BORDERS */
    .b-left{
        border-left: 5px solid #4DBA80;
    }
/* BOX SHADOWS */
    .box-sombra{
        box-shadow: 0px 0px 15px 0px rgba(82,82,82,0.5);
        background-color: #ffffff;
        border-radius: 24px;
    }
/* FONT-SIZES */
.fs-22{
    font-size: 22px;
}
/* TÍTULOS */
    .greenTitle{
        color: #4DBA80;
        font-weight: 700;
        font-size: 28px;
    }
    .greenTitleSpecial{
        color: #4DBA80;
        font-weight: 700;
    }
    .coor{
        color: #707070;
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        padding-top: 40px;
    }
    .saude{
        color: #4DBA80;
    }
/* BACKGROUNDS */
    .bg-header{
        background-color: #E3F3E8;
        padding: 0 15px;
    }
/* MENU DE NAVEGAÇÃO */
    .fundo-coor{
        /* background-image:linear-gradient(50deg, #9dd3af, #90cfa6, #82cb9d, #74c695, #65c28c, #59bd90, #4fb793, #46b196, #51a79e, #649d9e, #769296, #848788); */
        /* background-image:linear-gradient(50deg, #9dd3af, #90cfa6, #82cb9d, #74c695, #65c28c, #59bd90, #4fb793); */
        /* background-image: linear-gradient(50deg, rgb(157,211,175, 1), rgb(144,207,166,1), rgb(130,203,157,1), rgb(116,198,149,1), rgb(101,194,140,1), rgb(89,189,144,1), rgb(79,183,147,1)); */
        background-color: #DCFFEC;
        opacity: 0.9;
        box-shadow: 0px 3px 10px #000000A6;
    }
    .bg-submenu{
        background-image: linear-gradient(43deg, #A7FFD0, #A7FFFF);
    }
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .dropdown-item:hover, .btn-leia:hover{
        background: none;
    }
    .navbar-brand img{
        width: 185px;
    }
/* HOME */
    .bg-coor{
        width: 100%;
        height: 200px;
        background: url(../assets/BackCarousel.svg) no-repeat right bottom;
        background-size: cover;
    }
    .carousel img{
        height: auto;
        width: auto;
    }
    .sobre{
        padding: 24px 16px 48px;
    }
    .sobre img{
        box-shadow: 2px 3px 80px #0000004D;
    }
    .caixa-acoes{
        top: 0;
        height: 216px;
        transition: top 0.3s;
        padding: 30px;
    }
    .acoes-desenvolvidas{
        padding: 0 30px 5%;
    }
    .acoes-bg{
        background: url(../assets/backAcoes.png) center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 -15px;
    }
    .seminario{
        background: #4FB793;
        padding: 24px 16px;
    }
    .seminario h2{
        font-size: 22px;
    }
    .seminario h3{
        font-size: 13px;
    }
    .calendario{
        padding: 24px 16px;
    }
    .bloco-secundario-bg{
        background: #4FB7AD;
        margin: 0 -15px;
    }
    /* REGIMENTO */
        .regimento{
            background: url(../assets/RegimentoMobile.svg);
            background-size: 305px 292px;
        }
        .regimento p{
            font-size: 22px;
        }

/* CENÁRIOS DE PRÁTICA */
    .distrito{
        background: #4FB7AD;
        padding: 24px 16px;
    }
    .distrito h2, .calendario h2{
        font-size: 22px;
    }
    .distrito a:link, .distrito a:visited, 
    .calendario a:link, .calendario a:visited{
        color: #4D87BA;
    }
    .distrito a:hover, .calendario a:hover{
        color: #4D78BA;
    }
/* ESTÁGIOS */
    /* .estagios{
        background-image: -webkit-linear-gradient(30deg, #47d39f 50%, #ffffff 50%);
    } */
    .estagios ul, .sms-estagios ol, .estagios ol, .comite-participantes{
        list-style-type: none;
    }
/* DISCIPLINAS INTEGRADORAS */
    .tabela-cor-texto{
        background: #4DBA80;
    }
    .tabela-borda{
        box-shadow: 0px 15px 60px #C5C5C5;
        max-width: 740px;
    }
    table.tabela-borda, th, td{
        border: 1px solid #9A9A9A;
    }
/* EQUIPE */
    .equipe h3{
        font-size: 16px;
    }
    .equipe p{
        margin: 0;
    }
    .box-equipe{
        box-shadow: 0px 0px 5px 0px rgba(82,82,82,0.5);
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
    }
    h3.equipe-nomes{
        font-size: 22px;
    }
/* CONTATO */
.contato{
    min-height: 500px;
}
/* RODAPÉ */
.footer{
    background: url(../assets/BackFooter.svg) no-repeat center top;
    background-size: cover;
}
.footer a{
    color: #424242;
}
.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo-footer img{
    width: 150px;
}
.footer-title{
    font-size: 18px;
}
.footer-1 img{
    max-width: 38px;
}
.footer-5 .footer-logo-width{
    margin: 0 -30px;
    padding: 0 15px;
}
.footer-5{
    display: flex;
    align-items: center;
}
.footer-5 img{
    max-width: 100px;
}
.footer-2-list li,
.footer-3 li,
.footer-4 li{
    margin: 14px 0;
}
.footer h2{
    font-weight: bold;
}
.footer-logos{
    background-color: #7CD9A7;
}
/* MEDIA QUERIES */

    @media(max-width: 991.98px){
        .footer .container-fluid{
            padding: 0 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .footer-1{
            order: 1;
        }
        .footer-4{
            order: 2;
        }
        .footer-2{
            order: 3;
            padding-top: 16px;
        }
        .footer-3{
            order: 4;
        }
        .footer-5{
            order: 5;
        }
        .footer-6{
            order: 6;
        }
    }

    /* EXTRA SMALL DEVICES */
    @media (min-width: 360px){

    }

    /* SMALL DEVICES */
    @media (min-width: 576px){
        /* Carousel */
        .bg-coor{
            height: 280px;
        }
        /* .carousel img{
            height: 280px;
        } */
        /* Títulos */
        .coor{
            font-size: 85px;
        }
    }

    /* MEDIUM DEVICES - EXCLUSIVE */
    @media(min-width: 768px) and (max-width: 991.98px){
        .caixa-acoes{
            width: 31%;
        }
    }

    /* MEDIUM DEVICES */
    @media (min-width: 768px){
        /* Bloco Container */
        .bloco-container{
            padding: 48px;
        }
        .page-header.cenarios-de-pratica,
        .distrito.distrito.estagios-header,
        .page-header.comite-gestor,
        .page-header.quem-somos,
        .page-header.disciplinas-integradoras{
            background: none;
        }
        /* Títulos */
        .greenTitle{
            font-size: 59px;
        }
        .coor{
            font-size: 126px;
            padding-top: 70px;
        }
        /* HOME */
        .regimento{
            background: url(../assets/RegimentoMobile.svg) 90% -90% no-repeat;
            background-size: 305px 292px;
        }
        /* Sobre a CoorSaúde */
        .sobre{
            padding: 24px 48px 48px;
        }
        .sobre img{
            margin-bottom: 0;
        }
        /* Seminario e Cenários de Prática */
        .seminario, .distrito, .page-header, .calendario{
            padding: 48px;
        }
        .seminario h2, .distrito h2, .calendario h2{
            font-size: 32px;
        }
        .seminario h3{
            font-size: 18px;
        }
        /* Carousel */
        .bg-coor{
            height: 400px;
        }
        /* Ações Desenvolvidas */
        .acoes-desenvolvidas{
            padding: 0 48px 5%;
        }
        /* .carousel img{
            height: 400px;
        } */
        /* Rodapé */
        .footer-title{
            font-size: 22px;
        }
        .footer-5 img{
            max-width: 115px;
        }
    }

    /* LARGE DEVICES */
    @media (min-width: 992px){
        /* Bloco Container */
        .bloco-container{
            padding: 48px 111px;
        }
        /* NAV */
        nav li.nav-item{
            font-size: 18px;
        }
        /* Links Hover */
        .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .dropdown-item:hover, .btn-leia:hover{
            color: #19844b;
        }
        a:hover{
            color: #19844b;
        }
        /* HOME */
        .sobre{
            padding: 24px 48px 16px;
            margin: 48px;
        }
        .historico{
            margin: 0 48px;
        }
        /* Ações Desenvolvidas */
        .caixa-acoes{
            font-size: 20px;
            width: 224px;
        }
        .caixa-acoes:hover{
            top: -15px;
        }
        .acoes-desenvolvidas{
            padding: 0 111px 5%;
        }
        /* Seminário e Cenários de Prática */
        .seminario, .distrito, .page-header, .calendario{
            padding: 48px 111px;
        }
        .calendario a{
            display: inline-block;
        }
        .calendario a::after{
            content: '';
            display: block;
            height: 2px;
            width: 0;
            background:#4D78BA;
            transition: width 0.2s;
        }
        .calendario a:hover::after{
            width: 70%;
        }
        /* Carousel */
        .bg-coor{
            height: 450px;
        }
        /* .carousel img{
            height: 450px;
        } */
        /* Regimento */
        .regimento{
            margin: 0 48px;
        }
        /* Títulos */
        .coor{
            font-size: 130px;
        }
        /* COMITÊ GESTOR */
        #carousel-familiarizacao img{
            height: auto;
        }
        /* RODAPÉ */
        .grid-footer{
            display: grid;
            grid-template-columns: auto auto auto;
            max-width: 1000px;
            justify-content: space-between;
        }
        .footer-1,
        .footer-5,
        .footer-6{
            grid-column: 1/ span 3;
        }
        .footer-2-list{
            display: grid;
            grid-template-columns: auto auto;
        }
        .footer-2-list .footer-title{
            grid-column: 1/ span 2;
        }
        .footer-logo-width{
            max-width: 1000px;
            display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: auto auto auto; 
        }
        .footer-5 .footer-logo-width{
            margin: 0 -48px;
            padding: 0 33px;
        }
        .footer-5{
            display: flex;
            justify-content: center;
        }
        .otics{
            grid-column: 1/span 2;
            text-align: center;
        }
        .abrasco{
            grid-column: 5/span 2;
            text-align: center;
        }
        .pet{
            grid-column: 4/span 3;
        }
        .ministerio{
            grid-column: 2/span 2;
            text-align: center;
        }
    }

    /* EXTRA LARGE DEVICES */
    @media (min-width: 1200px){
        /* Bloco Container */
        .bloco-container{
            margin: 48px 162px;
            padding: 0;
            max-width: 1010px;
        }
        /* Sobre a CoorSaúde */
        .sobre{
            margin: 48px 115px;
            max-width: 1106px;
        }
        .sobre img{
            height: 300px;
        }
        /* HOME */
        .acoes-desenvolvidas{
            padding: 0 178px 5%;
        }
        .historico{
            margin: 0 115px;
        }
        /* Seminário e Cenários de Prática */
        .seminario, .distrito, .page-header, .calendario{
            padding: 48px 178px;
        }
        .regimento{
            margin: 0 115px;
        }
        /* Carousel */
        .bg-coor{
            height: 550px;
        }
        /* .carousel img{
            height: 550px;
        } */
        /* Títulos */
        .coor{
            font-size: 170px;
        }
    }
    @media(min-width: 1366px){
        /* Bloco Container */
        .bloco-container{
            margin: 48px auto;
            padding: 0;
            max-width: 1010px;
        }
        .sobre{
            margin: 48px auto;
            max-width: 1106px;
        }
        .caixa-acoes{
            width: 280px;
        }
        .bg-coor{
            height: 550px;
        }
        .acoes-desenvolvidas{
            padding: 0 0 5%;
            margin: 0 auto;
            max-width: 1010px;
        }
        .historico, .regimento{
            margin: 0 auto;
            max-width: 1106px;
        }
        .seminario div, .distrito, .calendario, .page-header div, .page-header{
            max-width: 1010px;
            margin: 0 auto;
        }
        .distrito, .calendario, .page-header{
            padding: 48px 0;
        }
        .distrito > .row{
            margin: auto 0;
        }
        .regimento{
            background-position:  94% -90%;
        }
    }
    @media(min-width: 1920px){
        .bg-coor{
            height: 750px;
        }
    }
/* Content Posts */
    .entry-header{
        background-color: blue;
    }
    .entry-content{
        background-color: black;
    }