/* BODY */
body{
    font-family: Arial, sans-serif;
}
/* LINKS GERAIS */
    a:link, a:visited, .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .dropdown-item, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link, .btn-leia{
        color: #4DBA80;
        text-decoration: none;
    }
/* LISTAS */
/* ul{
    margin: 0;
} */
/* BOTÕES */
    .btn-leia{
        border-radius: 8px;
    }
/* BORDERS */
    .b-left{
        border-left: 5px solid #4DBA80;
    }
/* BOX SHADOWS */
    .box-sombra{
        box-shadow: 0px 0px 15px 0px rgba(82,82,82,0.5);
        background-color: #ffffff;
        border-radius: 24px;
    }
/* FONT-SIZES */
.fs-22{
    font-size: 22px;
}
/* TÍTULOS */
    .greenTitle{
        color: #4DBA80;
        font-weight: 700;
    }
    .greenTitleSpecial{
        color: #4DBA80;
        font-weight: 700;
    }
    .coor{
        color: #707070;
        font-size: 55px;
        font-weight: 700;
        text-align: center;
        padding-top: 40px;
    }
    .saude{
        color: #4DBA80;
    }
/* BACKGROUNDS */
    .bg-cinza{
        background-color: #fbf7f7;
    }
/* MENU DE NAVEGAÇÃO */
    .fundo-coor{
        /* background-image:linear-gradient(50deg, #9dd3af, #90cfa6, #82cb9d, #74c695, #65c28c, #59bd90, #4fb793, #46b196, #51a79e, #649d9e, #769296, #848788); */
        /* background-image:linear-gradient(50deg, #9dd3af, #90cfa6, #82cb9d, #74c695, #65c28c, #59bd90, #4fb793); */
        /* background-image: linear-gradient(50deg, rgb(157,211,175, 1), rgb(144,207,166,1), rgb(130,203,157,1), rgb(116,198,149,1), rgb(101,194,140,1), rgb(89,189,144,1), rgb(79,183,147,1)); */
        background-color: #DCFFEC;
        opacity: 0.9;
        box-shadow: 0px 3px 10px #000000A6;
    }
    .bg-submenu{
        background-image: linear-gradient(43deg, #A7FFD0, #A7FFFF);
    }
    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .dropdown-item:hover, .btn-leia:hover{
        background: none;
    }
    .navbar-brand img{
        width: 185px;
    }
/* HOME */
    .bg-coor{
        width: 100%;
        height: 200px;
        background: url(../assets/BackCarousel.svg) no-repeat right bottom;
        background-size: cover;
    }
    .carousel img{
        height: 200px;
    }
    .sobre img{
        box-shadow: 2px 3px 80px #0000004D;
        margin-bottom: 20px;
    }
    .caixa-acoes{
        top: 0;
        height: 216px;
        transition: top 0.3s;
    }
    .acoes-desenvolvidas{
        background: url(../assets/backAcoes.png) center bottom;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 5%;
    }
    .seminario{
        background: #4FB793;
    }
    .seminario h2{
        font-size: 22px;
    }
    .seminario h3{
        font-size: 13px;
    }
    /* REGIMENTO */
        .regimento p{
            font-size: 22px;
        }
/* CENÁRIOS DE PRÁTICA */
    .distrito{
        background: #4FB7AD;
    }
    .distrito h2{
        font-size: 22px;
    }
    .distrito a:link, .distrito a:visited{
        color: #4D87BA;
    }
    .distrito a:hover{
        color: #4D78BA;
    }
    .estagios{
        background-image: -webkit-linear-gradient(30deg, #47d39f 50%, #ffffff 50%);
    }
/* DISCIPLINAS INTEGRADORAS */
    .tabela-cor-texto{
        background: #4DBA80;
    }
    .tabela-borda{
        box-shadow: 0px 15px 60px #C5C5C5;
        max-width: 740px;
        margin: 15px auto;
    }
    table.tabela-borda, th, td{
        border: 1px solid #9A9A9A;
    }
/* EQUIPE */
    .equipe h3{
        font-size: 16px;
    }
    .equipe p{
        margin: 0;
    }
    .box-equipe{
        box-shadow: 0px 0px 15px 0px rgba(82,82,82,0.5);
        background-color: #ffffff;
        border-radius: 10px;
        padding: 20px;
    }
    h3.equipe-nomes{
        font-size: 22px;
    }
/* CONTATO */
.contato{
    min-height: 500px;
}
/* RODAPÉ */
.footer{
    background: url(../assets/BackFooter.svg) no-repeat center top;
    background-size: cover;
}
.footer a{
    color: #424242;
}
.footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.logo-footer img{
    width: 150px;
}
.footer-title{
    font-size: 18px;
}
.footer-1 img{
    max-width: 38px;
}
.footer-5 .footer-logo-width{
    margin: 0 -30px;
    background-color: #7CD9A7;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.footer-5 img{
    max-width: 100px;
}
.footer-2-list li,
.footer-3 li,
.footer-4 li{
    margin: 14px 0;
}
.footer h2{
    font-weight: bold;
}
/* MEDIA QUERIES */

    @media(max-width: 991.98px){
        .footer .container-fluid{
            padding: 0 30px;
            text-align: center;
            display: flex;
            flex-direction: column;
        }
        .footer-1{
            order: 1;
        }
        .footer-4{
            order: 2;
        }
        .footer-2{
            order: 3;
            padding-top: 16px;
        }
        .footer-3{
            order: 4;
        }
        .footer-5{
            order: 5;
        }
        .footer-6{
            order: 6;
        }
    }

    /* EXTRA SMALL DEVICES */
    @media (min-width: 360px){

    }

    /* SMALL DEVICES */
    @media (min-width: 576px){
        /* Carousel */
        .bg-coor{
            height: 280px;
        }
        .carousel img{
            height: 280px;
        }
        /* Títulos */
        .coor{
            font-size: 85px;
        }
    }
    /* SMALL AND EXTRA SMALL DEVICES - EXCLUSIVE */
    @media (max-width: 767.98px){
        /* REGIMENTO */
            .regimento{
                background: url(../assets/RegimentoIcone.svg);
            }
    }

    /* MEDIUM DEVICES */
    @media (min-width: 768px){
        /* Títulos */
        .greenTitle{
            font-size: 59px;
        }
        .coor{
            font-size: 115px;
            padding-top: 70px;
        }
        /* Sobre a CoorSaúde */
        .sobre p{
            width: 330px;
        }
        .sobre img{
            margin-bottom: 0;
        }
        /* Seminario e Cenários de Prática */
        .seminario h2, .distrito h2{
            font-size: 32px;
        }
        .seminario h3{
            font-size: 18px;
        }
        /* Carousel */
        .bg-coor{
            height: 400px;
        }
        .carousel img{
            height: 400px;
        }
        /* Rodapé */
        .footer-title{
            font-size: 22px;
        }
        .footer-5 img{
            max-width: 150px;
        }
    }

    /* LARGE DEVICES */
    @media (min-width: 992px){
        /* Links Hover */
        .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .dropdown-item:hover, .btn-leia:hover{
            color: #19844b;
        }
        a:hover{
            color: #19844b;
        }
        /* Ações Desenvolvidas */
        .caixa-acoes:hover{
            top: -15px;
        }
        /* Carousel */
        .bg-coor{
            height: 450px;
        }
        .carousel img{
            height: 450px;
        }
        /* Títulos */
        .coor{
            font-size: 130px;
        }
        /* COMITÊ GESTOR */
        #carousel-familiarizacao img{
            height: 250px;
        }
        #carousel-pis1-2012-1 img, #carousel-pis1-2012-2 img, #carousel-pis1-2013-1 img, #carousel-pis1-2013-2 img{
            height: 300px;
        }
        /* RODAPÉ */
        .grid-footer{
            display: grid;
            grid-template-columns: auto auto auto;
            max-width: 1000px;
            justify-content: space-between;
        }
        .footer-1,
        .footer-5,
        .footer-6{
            grid-column: 1/ span 3;
        }
        .footer-2-list{
            display: grid;
            grid-template-columns: auto auto;
        }
        .footer-2-list .footer-title{
            grid-column: 1/ span 2;
        }
        .footer-logo-width{
            max-width: 1000px;
        }
        .footer-5 .footer-logo-width{
            margin: 0 -48px;
            padding: 0 33px;
            /* display: grid;
            grid-template-columns: auto auto auto auto auto auto;
            grid-template-rows: auto auto;
            align-items: center; */
        }
        .footer-5{
            background-color: #7CD9A7;
            display: flex;
            justify-content: center;
        }
    }

    /* EXTRA LARGE DEVICES */
    @media (min-width: 1200px){
        /* Sobre a CoorSaúde */
        .sobre img{
            height: 300px;
        }
        .sobre p{
            width: 450px;
        }
        /* Carousel */
        .bg-coor{
            height: 550px;
        }
        .carousel img{
            height: 550px;
        }
        /* Títulos */
        .coor{
            font-size: 170px;
        }
    }
/* Content Posts */
    .entry-header{
        background-color: blue;
    }
    .entry-content{
        background-color: black;
    }