.header-corona{
    background-color: #7EA1C1;
}
.grid-header{
    display: grid;
}
.post-corona{
    background-color: #7EA1C1;
    /* width: 300px; */
    height: 100%;
    width: 100%;
    border-radius: 4px;
}

.post-corona .titulo{
    height: auto;
    margin-top: 16px;
    font-weight: bold;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.post-corona img{
    border-radius: 4px;
    height: 126px;
}

.card-content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 16px;
    text-align: justify;
}

.card-data{
    text-align: left;
    margin: 0;
}

@media(max-width:576px){
    .corona-card-mobile{
        width: 300px;
    }
}